.lastSymbol {
  position: fixed;
  animation-name: symbol;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  z-index: 9;
}
@keyframes symbol {
  0% {
    transform: scale(20);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@media screen and (max-width: 768px){
  .lastSymbol {
    animation-name: symbol;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes symbol {
    0% {
      transform: scale(6);
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
}