@import "../../../scss/variables.scss";

.searchWrapper {
  display: flex;
  align-items: center;
  .inputSearchStyles {
    height: 22px;
    background: $commonGrey;
    width: 130px;
    border: none;
    &:focus {
      border: none;
      outline: 0;
      outline-offset: 0;
      color: white;
    }
  }
  .searchBtnStyles {
    background: none;
    border: none;
    transition: 0.2s;
    padding: 4px 0 0 10px;
    &:hover {
      transform: scale(1.2);
      transition: 0.2s;
      cursor: pointer;
    }
  }
}