@import "../../scss/templates";

.loginWrapper {
  @extend %commonContentComponent;
  background: url("../../images/login/Meteor.svg") 50%/cover no-repeat;
  display: flex;
  flex-direction: column;
}
