@import "../../scss/templates.scss";

.loginWrapper {
  @extend %commonContentComponent;
  display: flex;
  align-items: center;
  flex-direction: column;
  .loginFormWrapper {
    @extend %commonForm;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}