.titleWrapperWhiteTheme {
  z-index: 9;
  position: fixed;
  left: 0;
  top: 100px;
  padding-bottom: 20px;
  width: 100%;
  height: min-content;
  text-align: center;
  background: white;
  height: 185px;
  .filtersWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.titleWrapperDarkTheme {
  background: black;
}

@media screen and (max-width: 1024px) {
  .titleWrapperWhiteTheme {
    h1 {
        margin: 0;
      }
    .filtersWrapper {
      margin: 0 auto;
      flex-direction: column;
      max-width: 150px;
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 768px) {
  .titleWrapperWhiteTheme {
top: 50px
  }
}