@import "../../../scss/templates.scss";

.productsPerPageWrapper {
  display: flex;
  p {
    font-size: 9px;
    margin: 6px 6px 0 0;
    white-space: nowrap
  }
  .dropDownCommon {
    @extend %commonDropDown;
  }
}
