* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.41);
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 1px solid #ffffff;
}

.themeDark {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  transition: 0.2s;
  width: 100vw;
  height: 100vh;
}
.themeWhite {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  transition: 0.2s;
  width: 100vw;
  height: 100vh;
}
.displayNone {
    display: none;
    /* flex-direction: column;
    background: none;
    color: white;
    transition: 0.2s;
    width: 100vw;
    height: 100vh; */
}

@media screen and (max-width: 1024px){
  h1{
    margin-bottom: 0;
    font-size: 30px;
  }
}
