@import "../scss/templates.scss";

.storeWrapper {
  @extend %commonContentComponent;
  display: flex;
  flex-direction: column;
  padding-top: 185px;
  position: relative;
  top: 0;
  left: 0;
  background: url("../../src/images/store/Rect_Light.svg") 50%/cover no-repeat;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .storeWrapper {
    width: 100vw;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 0;
  }
}
