@import '../../../scss/variables';
@import '../../../scss/templates';

.swiperStyles {
  background: $blackTransparent;
  width: 40%;
  height: 100%;

  .sliderBtn {
    position: absolute;
    top: 46%;
    width: 50px;
    height: min-content;

    z-index: 10 !important;
  }

  .prevBtn {
    left: 0;
    transform: translate(-50%, -50%);
  }

  .nextBtn {
    right: 0;
    transform: translate(-50%, -50%);
  }

  .slideStyle {

    .clientItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .avatarWrapper {
        width: 50px;
        height: 50px;
        border: 3px solid $commonRed;
        border-radius: 50%;
        margin: 10px;
        overflow: hidden;
      }

      .fitBackWrapper {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;

        .fitBack {
          height: 130px;
          overflow: hidden;
          border: 1px solid #7c7c7c;
          border-radius: 10px;
          margin: 0 50px 15px 50px;
          padding: 7px;
          background: rgba(93, 88, 88, 0.21);
          position: relative;
          top: 0;
          left: 0;

          p {
            margin: 0
          }

          .moreBtnActiveContent {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            padding: 45px;
            overflow: auto;

            .closeButton {
              width: 50px;
              height: 50px;
            }
          }

          .moreBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 7px;
            bottom: 2px;
            border: none;
            height: 17px;
            width: min-content;
            @extend %commonBtn;
          }
        }
      }

      .starsWrapper {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .swiperStyles {
    width: 100%;
  }
}