@import "../../scss/variables.scss";

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 100px;
  max-height: 100px;
  background: $blackTransparent;
  padding: 0 30px;

  .navbarWrapper {
    display: flex;
  }
  .themeButtonCartWrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .headerWrapper {
    .navbarWrapper {
      display: none;
    }
    .themeButtonCartWrapper {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .headerWrapper {
    min-height: 50px;
    max-height: 50px;

  }
}

@media screen and (max-height: 650px) {
  .headerWrapper {
    min-height: 50px;
    max-height: 50px;
  }
}