@import "../../scss/templates.scss";
@import "../../scss/variables.scss";

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 100px;
  max-height: 100px;
  background: $blackTransparent;
  padding: 0 30px;
  .logoWrapper {
    display: flex;
    .logo2 {
      margin: 30px 0 0 1px;
    }
  }
  .navbarWrapper {
    display: flex;
  }
  .siteConfigWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    .searchDropdownWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      margin: 0 50px;
      .dropDownOptionWrapper {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .headerWrapper .siteConfigWrapper .searchDropdownWrapper {
    margin: 0 20px;
    max-width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .headerWrapper {
    .navbarWrapper {
      display: none;
    }
    .siteConfigWrapper {
      display: none;
    }
    .dropDownBtn {
      display: block;
    }
  }
}

@media screen and (max-width: 260px) {
  .headerWrapper .logoWrapper .logo2 {
        display: none;
  }
}
