@import "../../scss/templates";

.contactUsWrapper {
  @extend %commonContentComponent;
  background: url("../../../src/images/contactUs/Shiny_Overlay1.svg") 50%/cover no-repeat;
  display: flex;
  flex-direction: column;
}